body{
  background-color: #05090A;
}
.jumbotron{
  padding-top: 100px;
  text-align: center;
  background-image: url("img/galaxy.jpg");
  background-size: cover;
  color: #CCCCEE;
  background-color: #05090A;
}
.jumbotron hr{
  border-color: #05090A;
  width: 50%
}
#footer{
  width: 100%;
  background-color: #DDDDFF;
  height: 200px;
}
h2{
  color: #CCCCEE;
}
#subheader{
  width: 100%;
  text-align: center;
}
.card-body{
  background-color: #DDDDFF;
}
